<div class="container">
    <h1 class="text-center">WatchList Creator</h1>
    <h2>Movie Lists</h2>
    <ul class="list-cards">
        <% @lists.each do |list| %>
            <li><%= link_to list.name, list_path(list) %></li>
        <% end %>
    </ul>
     <%= link_to 'add a list', new_list_path, class: 'btn btn-primary' %>
</div>


<%= cl_image_tag("fksbi2efdhqwnops5mui",
      width: 400, height: 300, crop: :fill) %>

<!-- for face detection -->
<%= cl_image_tag("vjjdgx2incuo3zeykhyd",
      width: 150, height: 150, crop: :thumb, gravity: :face) %>
