<div class="container">
    <h1 class="text-center">WatchList Creator</h1>
    <h2>Movie Lists</h2>
    <ul class="list-cards">
        <% @lists.each do |list| %>
            <li><%= link_to list.name, list_path(list) %></li>
        <% end %>
    </ul>
     <%= link_to 'add a list', new_list_path, class: 'btn btn-primary' %>
</div>
